@charset "utf-8";


body {
    color: #546e7a;
}

.media-body a{
    color: #546e7a;

}

.top-wrapper {
    text-align:center;
    padding:100px 100px;
    background-image: url("https://agawgwgweagewagwewaeg.s3.amazonaws.com/img/jakob-owens-eDZFOHFi3Hk-unsplash+(1).jpg");
    background-size: cover;
    margin-bottom:20px;
    color:white;
}

.top-wrapper h1 {
  font-size:80px;
  opacity: 0.9;
  letter-spacing:7px;
  font-weight:bold;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 15px;
  font-size:30px;
}

.top-wrapper .btn {
  opacity: 0.8;
  border-radius:4px;
  display: inline-block;
  padding:8px 24px;
  color:white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
 
footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
footer .container .text-muted {
  margin: 20px 0;
}

/*見出し*/
.question-detail h1 {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

.question-detail h2 {
  padding: .25em 0 .25em .75em;
  border-left: 6px solid #ccc;
}